@import 'variables';

@keyframes gold-wave {
    0% {
        text-shadow: 0px 0px 10px $gold;
    }
    50% {
        text-shadow: 0px 0px 20px $gold;
    }
    100% {
        text-shadow: 0px 0px 10px $gold;
    }
}

@keyframes gray-wave {
    0% {
        text-shadow: 0px 0px 10px $light-gray;
    }
    50% {
        text-shadow: 0px 0px 20px $light-gray;
    }
    100% {
        text-shadow: 0px 0px 10px $light-gray;
    }
}